<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Solvingmagento_OrderExport>
            <version>0.1.0</version>
        </Solvingmagento_OrderExport>
    </modules>
    <global>
        <helpers>
            <orderexport>
                <class>Solvingmagento_OrderExport_Helper</class>
            </orderexport>
        </helpers>
        <models>
            <solvingmagento_orderexport>
                <class>Solvingmagento_OrderExport_Model</class>
            </solvingmagento_orderexport>
        </models>
        <resources>
            <solvingmagento_orderexport_setup>
                <setup>
                    <module>Solvingmagento_OrderExport</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </solvingmagento_orderexport_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <solvingmagento_orderexport>
                        <class>solvingmagento_orderexport/observer</class>
                        <method>exportOrder</method>
                    </solvingmagento_orderexport>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <frontend>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <solvingmagento_orderexport>
                        <class>solvingmagento_orderexport/observer</class>
                        <method>newCustomer</method>
                    </solvingmagento_orderexport>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
</config>
